// About

.teams {
  article {
    margin-bottom: 40px;
    font: $light 2.0rem/2.8rem $regular;
    &:nth-child(3n+2) {
      margin-left: 0;
      clear: left;
    }
    img {
      // @include border-radius(50%);
      margin-bottom: 0px;
    }
    .content {
      max-width: 260px;
      text-align: center;
      color: $white;
      background: $pink;
      padding: 10px 20px;
      strong {
        display: block;
      }
    }
    
  }
}