// What

section.what {
  // border-bottom: 20px solid #342854;
  background-color: #493972;
  padding: $padding 0;
  color: $white;
  h2 {
    font: $bold 2.8rem/3.8rem $regular;
    color: $white;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  p {
    font: $light 2.0rem/3.2rem $regular;
  }
  .intro {
    
  }
  .cta {

  }
}

section.cats {
  padding: $padding-half 0;
  .cat_study {
    text-align: center;
    img {
      max-width: 70%;
      margin: 0px auto 20px auto;
    }
  }
}

section.updates {
  padding: $padding-half 0;
}