/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  margin: 0px 0px 20px 0px;
  font: $bold 1.4rem/1.6rem $regular;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  letter-spacing: 1px;
  &.primary {
    color: $white;
    border: 2px solid $pink;
    @include border-radius(10px);
    background: $pink;
    &:hover {
      border: 2px solid #ab1761;
      color: $white;
      background: #8a124e;
      text-decoration: none;
    }
  }
}